// HTML tidy config file

// HTML XHTML options
enclose-text: yes
numeric-entities: no
output-xhtml: yes
quote-ampersand: yes
quote-marks: yes
quote-nbsp: yes

// character encoding options
ascii-chars: no
char-encoding: utf8

// pretty print options
indent: yes
indent-attributes: no
indent-spaces: 2
wrap: 80

// misc
tidy-mark: no
output-file: /tmp/result.tidy.html
