#editform
{
	width: 100%;
}

#editform fieldset
{
	display: block;
	margin: 0 0 1em 0;
}

#editform legend
{
	display: block;
	padding: 0.25em;
	background-color: #eee;
}

#editform .title
{
	font-size: 14px;
	font-weight: bold;
	margin: 0pt 0pt 0.5em 0.25em;
	padding: 3px 3px 3px 0.5em;
	display: block;
	width: 97%;
	text-align: left;
	/*background-color: rgb(200, 200, 200);*/
}

#editform input[type=text], #editform input[type=password], #editform select, #editform textarea{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
}

#editform dt {
   clear:both;
   width:30%;
   float:left;
   text-align:right;
}

#editform dd {
   float:left;
   width:65%;
   margin:0 0 0.5em 0.25em;
}

#editform .caption
{
	clear:both;
	width:99%;
	float:left;
	text-align:center;
	font-weight:bold;
	margin:0 0 0.5em 0.25em;
	background-color: #EFEFEF
}

#editform .group
{
	clear:both;
	width:99%;
	float:left;
	text-align:left;
	font-weight:bold;
	margin:0 0 0.5em 0.25em
}

.errorslist {
	margin: 0 0 10px 0;
	padding: 5px 10px 5px 35px;
	border: #FC6 1px solid;
	background: url(../imgs/oops.png) #FFC no-repeat 5px 5px;
	display: none;
}

.errorslist p {
	margin: 0;
}

.errorslist ul {
	margin: auto;
	margin-bottom: 0.5em;
	list-style: disc;
}

.errorslist p em {
	color: #C00;
	font-style: normal;
	font-weight: bold;
}


