
#editlist {
	border-left:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;
	text-align:left;
}

#editlist caption {
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
}

#editlist tr:hover {
	background-color: yellow;
}

#editlist td, #editlist th {
	border-right:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
	padding:3px 10px;
}

#editlist th {
	background-color:#333333;
	color:#FFFFFF;
}

#editlist .odd {
	background-color:white;
}

#editlist .even {
	background-color:#CCCCCC;
}

#editlist .selected {
	background-color: orange;
}
