
#editlist div, #editlist span, #editlist object, #editlist p, #editlist blockquote, #editlist pre,
#editlist a, #editlist abbr, #editlist acronym, #editlist address, #editlist big, #editlist cite, #editlist code,
#editlist del, #editlist dfn, #editlist em, #editlist font, #editlist img, #editlist ins, #editlist kbd, #editlist q, #editlist s,
#editlist small, #editlist strike, #editlist strong, #editlist sub, #editlist sup, #editlist tt, #editlist var,
#editlist dl, #editlist dt, #editlist dd, #editlist ol, #editlist ul, #editlist li,
#editlist fieldset, #editlist form, #editlist label, #editlist legend,
#editlist table, #editlist caption, #editlist tbody, #editlist tfoot, #editlist thead, #editlist tr, #editlist th, #editlist td,
#editlist input[type="button"] {
	margin: 0; 
	padding: 0; 
	border: 0; 
	outline: 0; 
	font-weight: inherit; 
	font-style: inherit; 
	font-size: 1em;  
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: baseline;
	background:none;
}

#editlist {
	border-left:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;
	text-align:left;
	font-family: Arial, Helvetica, sans-serif;
}

#editlist #edit_table {
	width:100%;	
}

#editlist caption {
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
}


#editlist td, #editlist th {
	border-right:1px solid #FFFFFF;
}

#editlist td {
	padding:7px 10px;
}

#editlist th {
	background-color:#707a8c;
	color:#FFFFFF;
	padding:5px 10px;
	font-weight:bold;
	font-size:1.1em;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
}

#editlist .odd {
	background-color:white;
}

#editlist .even {
	background-color:#eeeeef;
}

#editlist tr:hover {
	background-color:#d9deed;
	cursor:pointer;
}

#editlist .selected {
	background-color:#adc4e6 ;
}


/* NAV bar */

#editlist .edit_nav  {
	background: #d9deed;
	padding:5px;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-bottom: solid #fff 5px;
}

#editlist .edit_nav input[type="button"] {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	background:#BBCDE0 none repeat scroll 0 0;
	border:1px solid #94B2D1;
	font-weight:bold;
	height:20px;
	padding:1px 3px;
	font-size:0.9em;
	color:#000;
}

#editlist .edit_nav input[require="0"] {
	padding: 1px 15px;
	background:#9bbac0;
}

#editlist .edit_nav input[type="button"]:hover {
	background-color:#a2bcd7;
	color:#ffffff;
	cursor:pointer;
}

#editlist .edit_nav input[require="0"]:hover {
	background:#5c9f91;
}

#editlist .edit_nav_pages {
	float:right;
}

#editlist .edit_nav select {
	float:left;
	margin-right:15px;
	font-size:0.9em;
	font-family:Arial, Helvetica, sans-serif;
	height:20px;
}

#editlist div.edit_nav_pages span {
	float:left;
	color:#707a8c;
	font-size: 11px;
	font-weight:normal;
	display:block;
	padding-top:3px;
	padding-right:5px;
}

#editlist div.edit_nav_pages a {
	display:block;
	line-height:1px;
	font-size:1px;
	padding:0;
	width:28px;
	height:20px;
	margin-left:2px;
	text-indent: -999999px;
	float:left;
	background-repeat:no-repeat;
}

#editlist div.edit_nav_pages a[active="false"] {
	background-position: bottom;
	cursor:default;
}

