<?php

namespace __PROJECT__\Base;

use Xmlnuke\Core\Enum\AccessLevel;
use __PROJECT__\Base\BaseModule as __PROJECT__BaseModule;

class AdminBaseModule extends __PROJECT__BaseModule
{
	public function CreateDocument($title) 
	{
		parent::CreateDocument($title);
	}

	public function requiresAuthentication() 
	{
		return true;
	}
	
	public function getAccessLevel() 
	{
		return AccessLevel::OnlyAdmin;
	}
	
	public function CreatePage() 
	{
		return $this->defaultXmlnukeDocument;
	}
}
