<?php

namespace __PROJECT__\Base;

use Xmlnuke\Core\Database\BaseDBAccess;

class TesteBaseDBAccess extends BaseDBAccess
{
	public static function DatabaseName()
	{
		return "__PROJECT_FILE__";
	}
	public function getDataBaseName()
	{
		return __PROJECT__BaseDBAccess::DatabaseName();
	}
	//put your code here
}
