body{ 
	font: 10px Arial, Helvetica, sans-serif; 
	text-align: left; 
	background: #fff;
	margin:0 10px;
}
a { text-decoration: none;}
h1 { font: bold 2.1em Arial, Helvetica, Sans-Serif; color: #fff }
h2, .table_title { font-size: 19px; color:#425274; font-weight:bold; font-family:Arial, Helvetica, Sans-Serif; }
.table_title { display:inline-block; padding-top:10px;}
h3 { font-size: 1.6em }
p { font-size:1.2em}

#header { 
	height:80px; 
	padding:20px 0 0 20px;
	background:#7fa2b4; 
}

.menu-global { 
	float:left; 
	margin-top:28px; 
	font-size: 1.2em;
	position:absolute;
	}
.menu-global ul li { float:left; margin-right:3px; }
.menu-global ul li a { 
	display: block; 
	float:left; 
	padding:7px 8px 4px 8px; 
	background:#94bed6;
	color:#fff; 
	height:15px;
	width:auto;
}

.menu-global ul li a:hover {
	color:#425274;
	border-bottom:solid 2px #eeeeff;
}

.menu-global ul li a.selected {
	background:#fff;
	color:#98ABBA;
	font-weight:bold;
	font-size:1.1em;
	padding:6px 8px 7px 8px; 
}
.menu-global ul li a.selected:hover {
	cursor:default;
	border:none;
}

.menu-local {
	height:27px; 
	border-bottom: 1px solid #ccc; 
	margin:0 20px;
	}
	
.menu-local a {
	font-size:1.2em; 
	color:#999; 
	padding: 7px; 
	display:block; 
	float:left;
	}
	
.menu-local a:hover {
	color:#425274;
}	
	
.menu-local a.selected {
	cursor:default;
	border-bottom:2px #666 solid;
	font-weight:bold;
}

.menu-local a.selected:hover {
	color:#999; 
}

#right {
	float: left;
	width:78%;
	background: #fff;
	text-align: justify;
}

#left {
	float: right;
	width: 20%;
}

#left .box {
	padding: 10px;
	background : #FFF6BF;
}


#content {
	padding:20px;
}

.menu_galeria li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin:0 5px 5px 0;
	float: left;
	text-decoration: none;
	background: #f0f2ff;
}

.menu_galeria li:hover {
	background: #f0f2ff url(paper-corner.png) top right no-repeat;
}

.menu_galeria li a {
	display: block;
	text-align: left;
	width: 220px;
	height: 80px;
	padding: 15px 5px 5px 70px;
	background-repeat:no-repeat;
	background-position:left center;
	border: 1px solid #eeeeee;
}

.menu_galeria li a:hover {
	border: 1px solid #7e92c9;;
}

.item_title {
	font-weight: bold;
	color: #212F17;
	font-size: 14px;
}
.item_text {
	font-weight: normal;
	color: #98ABBA;
	font-size: 12px;
	text-decoration: none;
}

#footer {
	clear:both;
	color:#425274;
	padding:10px 20px;
	background:#7fa2b4; 
}


#editform.form-label-top 			{ border-bottom:1px solid #ccc; margin-bottom:40px; }
#editform fieldset 					{ border-width:0; margin:0px; padding:10px 0px;  }
#editform.form-label-top fieldset legend 	{ display:none; }
#editform.form-label-top #buttons 			{ line-height:0px; height:0px; font-size:0px; }
#editform.form-label-top dt 				{ margin-top:5px; width:100%; text-align:left; padding-left:5px; margin-bottom:2px;  }
#editform.form-label-top dt label 			{ font-size:1.2em; color:#607895; }
#editform.form-label-top dd 				{ width:auto; }
#editform.form-label-top dd input[type="text"], #editform dd input[type="password"], #editform dd input[type="textbox"] {
	border:2px solid #607895;
	width:200px;
	padding:4px;
	float:left;
	-moz-border-radius: 2px;
}

#editform.form-label-top input[type="submit"] { 
	border:1px #94b2d1 solid; 
	background:#bbcde0; 
	padding:4px 10px;
	font-weight:bold;
	-moz-border-radius: 3px;
}
	
#editform.form-label-top input[type="submit"]:hover {
	background-color:#a2bcd7;
	color:#ffffff;
	cursor:pointer;
}

#editform.form-label-top #pesquser {
	width:300px;
}

#editform.form-label-top .field_info {
	color:#fff;
	margin-top:5px;
}


/* ======== BOTAO PADRAO [by RISADA] ========== */

.btn_medium input, .btn_medium a:link, .btn_medium a:visited, .btn_medium a:active {
	background-position: right top;
	line-height:22px;
	width:auto;
	font-weight:bold;
	padding:1px 11px 1px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-style: normal;
    margin:0;
	color:#FFF;
	text-decoration:none;
	display:block;
	float:left;
}


.btn_medium input {
	border:0;
	height:28px;
}


.btn_medium .btn_end {
	background-position: left top;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-style: normal;
	margin:0;
	padding:1px 2px 1px 4px;
	line-height:26px;
	text-decoration: none;
	display:block;
	float:left;
}

.btn_verde input, .btn_verde a, .btn_verde span { background-color:transparent; background-image:url(btn_verde.png);}
.btn_verde a:hover, .btn_verde input:hover {cursor:pointer; color:#000; text-decoration:none;}
.btn_azul input, .btn_azul a, .btn_azul span { background-color:transparent; background-image:url(btn_azul.png);}
.btn_azul a:hover, .btn_azul input:hover {cursor:pointer; color:#000; text-decoration:none;}


